<h1>List of the features</h1>
{{username}}

<a href="{% url 'note_list' %}"><h1>Notes</h1></a>
<a href="{% url 'signup' %}"><h1>signup</h1></a>
<a href="{% url 'login' %}"><h1>signin</h1></a>
<a href="{% url 'logout' %}"><h1>logout</h1></a>
<a href="{% url 'paper_list' %}"><h1>question_papers</h1></a>
<a href="{% url 'notifications' %}"><h1>Notification</h1></a>
<a href="{% url 'send_message' %}"><h1>send_message</h1></a>
<a href="{% url 'inbox' %}"><h1>inbox</h1></a>

<a href="{% url 'community_list' %}"><h1>community_list</h1></a>
<a href="{% url 'project_list' %}"><h1>project_list</h1></a>
<a href="{% url 'news_list' %}"><h1>news_list</h1></a>
<a href="/openup"><h1>openup</h1></a>
<a href="{% url 'profile_view' username %}"><h1>profile_views</h1></a>
