  <h1>Inbox</h1>
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>
          <strong>From:</strong> {{ message.sender.username }}<br>
          <strong>Message:</strong> {{ message.content }}<br>
          <strong>Sent At:</strong> {{ message.sent_at }}<br>
          <a href="{% url 'message_detail' message.id %}">View Message</a> 
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No messages yet!</p>
  {% endif %}
  <a href="{% url 'send_message' %}">Send a new message</a>
